body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}
.fluid-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
   
    overflow: hidden;
}
.container-questions{
    max-height: 500px;
    overflow-y: scroll;
    
}

.container-questions3{
  max-height: 500px;
  overflow-y: scroll;
  
}
h1 {
    text-align: center;
    color: #333;
}
h2{
    background-color: saddlebrown;
    color: white;
    padding: 10px;
}
.question {
    margin-bottom: 20px;
}


.answers {
    list-style-type: none;
    padding: 0;
}
.answers li {
    margin-bottom: 10px;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
#results {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}
#results3 {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
#timer {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
#timer3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: saddlebrown;
}
button:hover {
    background: #0056b3;
}
#timer-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#timer-selection label {
    margin-right: 10px;
}
#timer-selection3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#timer-selection3 label {
  margin-right: 10px;
}
#clickHere{
  text-decoration: none;
}


/* Modal Css  */
/* The Modal */
/* [Object] Modal
 * =============================== */
 .modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 70%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 40%;
    box-sizing: border-box;
  }
}


/* Question and answer */

.question {
  margin-bottom: 20px;
  border: 4px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background-color: lightyellow;
}

.question h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.answers {
  list-style-type: none;
  padding: 0;
}

.answers li {
  margin-bottom: 10px;
}

.answers label {
  display: block;
  cursor: pointer;
}

.answers label {
  display: inline-block;
  margin-bottom: 10px; /* Add some spacing between each answer option */
}

.answers input[type="radio"] {
  display: inline-block;
  vertical-align: middle; /* Align the radio button vertically with the text */
  margin-right: 5px; /* Add some spacing between the radio button and the text */
}

.answers label:hover {
  background-color: #e0e0e0;
}

.answers3 {
  list-style-type: none;
  padding: 0;
}

.answers3 li {
  margin-bottom: 10px;
}

.answers3 label {
  display: block;
  cursor: pointer;
}

.answers3 label {
  display: inline-block;
  margin-bottom: 10px; /* Add some spacing between each answer option */
}

.answers3 input[type="radio"] {
  display: inline-block;
  vertical-align: middle; /* Align the radio button vertically with the text */
  margin-right: 5px; /* Add some spacing between the radio button and the text */
}

.letter {
  font-weight: bold;
  margin-right: 5px;
}


/* Correct, wrong and unanswered */
.correct-answer {
  padding: 10px;
  background-color: green;
  color: white;
}
.correct{
  padding: 10px;
  background-color: green;
  color: white;
}

/* Scroll Design */
.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:4px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  bottom:62px;
}

.float2{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:4px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  bottom:18px;
}

.my-float{
	margin-top:22px;
}



/* Day And Night CSS  */
* {
  padding: 0;
  margin: 0;
}


.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
}

  .switch input {
      opacity: 0;
      width: 0;
      height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

  .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      border-radius: 20px;
      left: 2px;
      bottom: 2px;
      z-index: 2;
      background-color: #e8e8e8;
      transition: .4s;
  }

.sun svg {
  position: absolute;
  top: 4px;
  left: 32px;
  z-index: 1;
  width: 15px;
  height: 15px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 15px;
  height: 15px;
}

/* .switch:hover */ .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {

  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}

/* .switch:hover */ .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {

  0% {
      transform: rotate(0deg);
  }

  25% {
      transform: rotate(-10deg);
  }

  75% {
      transform: rotate(10deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}




/* Tab Design */
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    
    margin: 0 auto;
}
.tab{
  cursor: pointer;
  padding:5px 20px;
  margin:0px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:619px;
  width:100%;
  max-width:500px;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}